// navbar on top of the page

.navbar {
  position: fixed;
  display: flex;
  height: 40px;
  width: 100%;

  .section {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .about {
    flex: 1 0 auto;
  }

  .skills {
    flex: 1 0 auto;
  }

  .projects {
    flex: 1 0 auto;
  }

  .contact {
    flex: 1 0 auto;
  }
}