// navbar on top of the page

.navbar {
  position: fixed;
  display: flex;
  height: 40px;
  width: 100%;

  .about {
    flex: 1 0 auto;
    background: green;
  }

  .skills {
    flex: 1 0 auto;
    background: red;
  }

  .projects {
    flex: 1 0 auto;
    background: yellow;
  }

  .contact {
    flex: 1 0 auto;
    background: purple;
  }
}