// files to contain the variables for styling
$backgroundColor: white;
$blueMain: #148FE8;

// cover
$dotDiameter: 15px;
$arrowSize: 20px;
$arrowThickness: 4px;

// navbar
$navBarHeight: 40px;

// projects
$projectPanelHeight: 400px;

// skills
$pieRowWidth: 500px;
$pieSize: 90px;
$pieOverlaySize: $pieSize - 12px;
$pieProgColorWeb: rgb(148, 61, 219);
$pieProgColorWebFade: rgb(104,43,153);
$pieProgColorGen: rgb(0,108,183);
$pieProgColorGenFade: rgb(3, 91, 150);
$pieColorSpeed: 0.5s ease;

// contact
$contactBarWidth: 350px;
$iconSize: 70px;

// images
$picomega3: url('../images/projects/omega3.jpg');
$pic100proof: url('../images/projects/100proof.jpg');

// z-indices
$zNavBar: 5;
$zButtons: 2;