// files to contain the variables for styling
$backgroundColor: white;
$blueMain: #148FE8;

// lengths
$mainWidth: 800px;

// cover
$dotDiameter: 15px;
$arrowSize: 20px;
$arrowThickness: 4px;

// navbar
$navBarHeight: 40px;

// profile
$pfpSize: 350px;

// projects
$projectPanelHeight: 500px;

// skills
$pieRowWidth: 700px;
$pieSize: 120px;
$pieOverlaySize: $pieSize - 12px;
$pieProgColorWeb: rgb(148, 61, 219);
$pieProgColorWebFade: rgb(104,43,153);
$pieProgColorGen: rgb(0,108,183);
$pieProgColorGenFade: rgb(3, 91, 150);
$pieProgColorHardware: rgb(35,142,86);
$pieProgColorHardwareFade: rgb(25,99,60);
$pieColorSpeed: 0.5s ease;

// contact
$contactBarWidth: 350px;
$iconSize: 70px;

// images
$picOmega3: url('../images/projects/omega3.jpg');
$pic100proof: url('../images/projects/100proof.jpg');
$picBomb: url('../images/projects/bombdefuser1.jpg');

// z-indices
$zNavBar: 5;
$zButtons: 2;