@import '../components/arrow';

.slide.cover {
  height: 100%;
  max-width: 900px;
  .text {
    height: 300px;
    display: flex;
    flex-direction: column;
    margin: auto;
    align-items: center;

    .row1 {
      width: 80%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-direction: row;

      .dot {
        width: $dotDiameter;
        height: $dotDiameter;
        margin: 0 10px 0 10px;
        border-radius: 50%;
        background: black;
        flex-shrink: 0;
      }
    }

    .row2 {
      display: flex;
      justify-content: center;
    }
  }

  span {
    &.title {
      font-size: 17vw;
      
    }

    &.title-caption {
      font-size: 8vw;

      &.minor {
        font-size: 6vw;
      }
    }
  }
}