.slide.profile {
  .content {
    width: $mainWidth + 20px;

    .bottom {
      display: flex;
      flex-direction: row;
      width: $mainWidth + 20px;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 20px;

      .text {
        width: $mainWidth/2 - 10px;
        font-size: 20px;
        // margin: auto 40px auto 0;
      }
  
      .border {
        background: radial-gradient(circle, white, $backgroundColor 50%);
        height: 100%;
        width: $pfpSize;
        border-radius: 50%;
        padding: 5px;
      }
    
      .picture {
        height: $pfpSize;
        width: $pfpSize;
        background: url('../images/headshot.jpg') center no-repeat;
        background-size: $pfpSize;
        border-radius: 50%;
      }  
    }
  }
}