.slide.projects {
  background: $backgroundColor;

  .projectsSection {
    width: $mainWidth;
    display: flex;
    flex-direction: column;
    align-items: center;

    .projectContainer {
      width: $mainWidth;
      height: $projectPanelHeight;
      display: flex;
      margin-bottom: 10px;

      .uk-slideshow .uk-slideshow-items {
        border-radius: 10px;
      }
      
      div.videoElement {
        background: black;
        display: flex;
        justify-content: center;
        height: 100%;
        width: 100%;

        #100proofvideo {
          max-height: 100%;
        }
      }
    }
  }
}