.slide.skills {
  background: $backgroundColor;
  display: flex;
  justify-content: center;

  .content {  
    .chart {
      .label-chart {
        margin-left: 60px;

        span {
          font-size: 18px;
        }
      }
    }

    .chart-skills-web {
      margin-bottom: 20px;

      .bar {
        fill: #148FE8;
      }
    }  
  }
}