.slide.skills {
  .content {
    .title {
      margin-bottom: 20px;
    }
    
    .pieTable {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 6 * ($pieSize + 20px);
      font-size: 22px;

      .web, .general, .hardware {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 2 * ($pieSize + 10px);
      }

      .web .pie {
        .pieLeft, .pieRight {
          background-color: $pieProgColorWeb;
        }

        &:hover {
          .pieLeft, .pieRight {
            background-color: $pieProgColorWebFade;
          }
        }
      }

      .general .pie {
        .pieLeft, .pieRight {
          background-color: $pieProgColorGen;
        }

        &:hover {
          .pieLeft, .pieRight {
            background-color: $pieProgColorGenFade;
          }
        }
      }

      .hardware .pie {
        .pieLeft, .pieRight {
          background-color: $pieProgColorHardware;
        }

        &:hover {
          .pieLeft, .pieRight {
            background-color: $pieProgColorHardwareFade;
          }
        }
      }

      .pieRow {
        width: $pieRowWidth;
  
        display: flex;
        flex-direction: row;
        justify-content: space-between;
      }
    }
    
    .pie {
      width: $pieSize;
      height: $pieSize;

      display: flex;
      justify-content: center;
      align-items: center;

      background-color: black;
      border-radius: 50%;

      cursor: pointer;

      .pieLeft {
        width: $pieSize/2;
        height: $pieSize;

        background-color: $pieProgColorWeb;
        position: absolute;
        border-radius: $pieSize 0 0 $pieSize;

        // here is where you do custom tuning to the skill amount
        // transform: rotate(-10deg) translate(-$pieSize/4);

        transition: background-color $pieColorSpeed;
      }

      .pieRight {
        width: $pieSize/2;
        height: $pieSize;

        background-color: $pieProgColorWeb;
        border-radius: 0  $pieSize $pieSize 0;

        transform: translate($pieSize/4);

        transition: background-color $pieColorSpeed;
      }

      .pieOverlay {
        width: $pieOverlaySize;
        height: $pieOverlaySize;

        display: flex;
        justify-content: center;
        align-items: center;

        position: absolute;

        background-color: black;
        border-radius: 50%;

        span {
          color: white;
          text-align: center;
        }
      }
    }

    // headers
    .header {
      font-weight: bold;

      .pieLeft, .pieRight {
        display: none;
      }

      &#web {
        background-color: $pieProgColorWeb;

        .pieOverlay {
          background-color: $pieProgColorWeb;
        }
      }

      &#general {
        background-color: $pieProgColorGen;

        .pieOverlay {
          background-color: $pieProgColorGen;
        }
      }

      &#hardware {
        background-color: $pieProgColorHardware;

        .pieOverlay {
          background-color: $pieProgColorHardware;
        }
      }
    }

    /*** Web skills ***/
    #api .pieLeft {
      // here is where you do custom tuning to the skill amount
      transform: rotate(-40deg) translate(-$pieSize/4);
    }

    #chrome .pieLeft {
      // here is where you do custom tuning to the skill amount
      transform: rotate(-40deg) translate(-$pieSize/4);
    }

    #flask .pieLeft {
      // here is where you do custom tuning to the skill amount
      transform: rotate(-80deg) translate(-$pieSize/4);
    }

    #jquery .pieLeft {
      // here is where you do custom tuning to the skill amount
      transform: translate(-$pieSize/4);
    }

    #node .pieLeft {
      // here is where you do custom tuning to the skill amount
      transform: rotate(-10deg) translate(-$pieSize/4);
    }

    #react .pieLeft {
      // here is where you do custom tuning to the skill amount
      transform: rotate(-30deg) translate(-$pieSize/4);
    }

    #sass .pieLeft {
      // here is where you do custom tuning to the skill amount
      transform: rotate(-10deg) translate(-$pieSize/4);
    }

    #webpack .pieLeft {
      // here is where you do custom tuning to the skill amount
      transform: translate(-$pieSize/4);
    }

    /*** General skills ***/
    #c .pieLeft {
      // here is where you do custom tuning to the skill amount
      transform: translate(-$pieSize/4);
    }

    #csharp .pieLeft {
      // here is where you do custom tuning to the skill amount
      transform: rotate(-15deg) translate(-$pieSize/4);
    }
    
    #java .pieLeft {
      // here is where you do custom tuning to the skill amount
      transform: rotate(-15deg) translate(-$pieSize/4);
    }

    #latex .pieLeft {
      // here is where you do custom tuning to the skill amount
      transform: translate(-$pieSize/4);
    }

    #matlab .pieLeft {
      // here is where you do custom tuning to the skill amount
      transform: rotate(-10deg) translate(-$pieSize/4);
    }

    #python .pieLeft {
      // here is where you do custom tuning to the skill amount
      transform: translate(-$pieSize/4);
    }

    #sql .pieLeft {
      // here is where you do custom tuning to the skill amount
      transform: rotate(-90deg) translate(-$pieSize/4);
    }

    /*** Hardware skills ***/
    #arduino .pieLeft {
      // here is where you do custom tuning to the skill amount
      transform: rotate(-5deg) translate(-$pieSize/4);
    }

    #assembly .pieLeft {
      // here is where you do custom tuning to the skill amount
      transform: rotate(-60deg) translate(-$pieSize/4);
    }

    #embedded .pieLeft {
      // here is where you do custom tuning to the skill amount
      transform: rotate(-10deg) translate(-$pieSize/4);
    }

    #fpga .pieLeft {
      // here is where you do custom tuning to the skill amount
      transform: rotate(-70deg) translate(-$pieSize/4);
    }

    #rpi .pieLeft {
      // here is where you do custom tuning to the skill amount
      transform: rotate(-10deg) translate(-$pieSize/4);
    }

    #soldering .pieLeft {
      // here is where you do custom tuning to the skill amount
      transform: rotate(-10deg) translate(-$pieSize/4);
    }

    #vr .pieLeft {
      // here is where you do custom tuning to the skill amount
      transform: rotate(-120deg) translate(-$pieSize/4);
    }
  }
}