.slide.skills {
  .content {
    .title {
      margin-bottom: 10px;
    }
    
    .pie {
      width: 80px;
      height: 80px;

      display: flex;
      justify-content: center;
      align-items: center;

      background-color: black;
      border-radius: 50%;

      .pieLeft {
        width: 40px;
        height: 80px;

        background-color: red;
        position: absolute;
        border-radius: 80px 0 0 80px;

        transform: rotate(-10deg) translate(-20px);
      }

      .pieRight {
        width: 40px;
        height: 80px;

        background-color: red;
        border-radius: 0  80px 80px 0;

        transform: translate(20px);
      }

      .pieOverlay {
        width: 70px;
        height: 70px;

        display: flex;
        justify-content: center;
        align-items: center;

        position: absolute;

        background-color: rgb(92, 168, 255);
        border-radius: 50%;
      }
    }
  }
}